<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Anagram Cork</title>
    <link href="~/Content/Material.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <nav class="light-green" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a id="logo-container" href="#" class="brand-logo">Word Play</a>
                <ul id="nav-mobile" class="right side-nav">
                    <li><a href="#">Navbar Link</a></li>
                </ul><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="page-footer cyan darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About Us</h5>
                    <p class="grey-text text-lighten-4">Word Play is where make fun out of words and phrases</p>

                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Scabble</a></li>
                        <li><a class="white-text" href="#!">Crossword</a></li>
                        <li><a class="white-text" href="#!">Fill in the blanks</a></li>
                        <li><a class="white-text" href="#!">Word Search</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Classical Encryption</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Ceasar Cipher</a></li>
                        <li><a class="white-text" href="#!">Auto Key</a></li>
                        <li><a class="white-text" href="#!">Hill Cipher</a></li>
                        <li><a class="white-text" href="#!">Mono Alphabetic</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - WordPlay</p>
            </div>
        </div>
    </footer>
        @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/material.js"></script>
    <script src="~/Scripts/Site.js"></script>
</body>
</html>
